# Created by http://www.gitignore.io

### CocosLibrary ###
cocos2d

### Xcode ###
build
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside

# Mac
.DS_Store

#CocoaPod
Pods/*

#IDEA
.idea/*

#cocos2d-x
libs/
bin/
obj/
assets/
gen/
out/
.classpath
.project
.cproject

proj.mac/
proj.marmalade/
proj.winrt/
proj.linux/
proj.blackberry/
proj.wp8/
proj.win32/

#JAVA
*.class
